.service-card {
  margin-top: 20px;
}

.service-title{
  padding-top: 20px;
}

.service-container{
  max-width: 1400px;
  background-color: rgb(217,217,217);
}

.service-card{
  min-height: 420px;
}

.service{
  background-color: rgb(217,217,217);
  min-height: 600px;
}